.content {
  top: 60px;
  margin-left: 5%;
  margin-right: 1%;
}

.sub_content {
  margin-left: 2%;
}

.bookmark {
  width: 16px;
  height: 16px;
}

.bookmark[is-bookmarked=true] {
  background: url("/static/assets/icons/bookmarked.svg");
}

.bookmark[is-bookmarked=false] {
  background: url("/static/assets/icons/bookmarked-not.svg");
}


.filter-checkbox {
  margin-left: 30px;
}