.content {
  top: 60px;
  margin-left: 5%;
  position: absolute;
}

.sub_content {
  margin-top: 5%;
  margin-left: 5%;
}

.bookmark {
  width: 16px;
  height: 16px;
}

.bookmark[is-bookmarked=true] {
  background: url("/static/assets/icons/bookmarked.svg");
}

.bookmark[is-bookmarked=false] {
  background: url("/static/assets/icons/bookmarked-not.svg");
}
