[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libsass = "*"
flask = "*"
flask-cors = "*"
regex = "*"
dataclasses-json = "*"
chardet = "*"
gitpython = "*"
pandas = "*"
openpyxl = "*"
xlsxwriter = "*"
xlrd = "*"
matplotlib = "*"
numpy = "*"
lark-parser = "*"
pydot = "*"
pyyaml = "*"
requests = "*"
autopep8 = "*"
pymongo = "*"
dnspython = "*"

[dev-packages]
