{% extends 'template.html' %}
{% from 'correction_logic.jinja2' import create_report %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Upload</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/correction/{{ current_num - 1 }}">Previous<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/list">List</a>
                <a class="nav-item nav-link" id="finish_link" href="#">Finish</a>
                <a class="nav-item nav-link" id="unfinish_link" href="#">Unfinish</a>
                <a class="nav-item nav-link disabled" href="/correction/{{ current_num + 1 }}">Next</a>
            </div>
        </div>
    </nav>

    <div class="content">
        {{ create_report(report) }}
    </div>
{% endblock %}