{# for a list of the parameters used in the sections refer to /docs #}

<!-- building the report from header and body -->
{% macro create_report(report) -%}
    {{create_header(report)}}
    {{create_body(report)}}
{%- endmacro %}

<!-- creating report header -->
    {#  general information about the students submission #}
{% macro create_header(report) -%}
    <div class="header_info">
        <h1>{{ report.name }}, {{ report.students_number }}</h1>
        {#  FIXME class does not work #}
        <div class="sub_content">
            <dl class="row">
                <dt class="col-sm-3">Subtasks: </dt>
                <dd class="col-sm-9">{{ report.num_correct_subtasks }} / {{ report.num_subtasks }}</dd>

                <dt class="col-sm-3">Points: </dt>
                <dd class="col-sm-9">{{ report.points }} / {{ report.max_points }}</dd>

                {% if report.step_failed %}
                    <dt class="col-sm-3">Step failed: </dt>
                    <dd class="col-sm-9">{{ report.step_failed }}</dd>
                {% endif %}
            </dl>
        </div>
    </div>
{%- endmacro %}

<!-- creating report body from tasks -->
    {#  containes tasks & subtask with snippets, points, comments etc. #}
{% macro create_body(report) -%}
{#    <h2 style="margin-top: 5%">Code Review</h2>#}
    {% for task in report.tasks%}
        {{ create_task(task) }}
    {% endfor %}
{%- endmacro %}

<!-- create a task (and subtask) -->
{% macro create_task(task) -%}
    <h2 style="margin-top: 5%"> {{ task.name }}</h2>
    {#  FIXME class does not work #}
     <div class="sub_content">
            <dl class="row">
                <dt class="col-sm-3">Points: </dt>
                <dd class="col-sm-9">{{ task.points }} / {{ task.max_points }}</dd>

                {% if task.bookmarked %}
                    {# TODO add support for icon #}
                    <dt class="col-sm-3"> <mark>Bookmark!</mark></dt>
                {% endif %}
            </dl>
        </div>
    <div>
    {% for subtask in task.sub_tasks %}
        {{ create_subtask(subtask) }}
    {% endfor %}
{%- endmacro %}

<!-- creating the subtask -->
{% macro create_subtask(subtask) -%}
    <h3 style="margin-top: 5%">{{subtask.name}}</h3>
    <div class="sub_content">
        <div> {{ subtask.description }}</div>
        <label>Points: </label>
        <input type="number" step="0.5" value="{{ subtask.points }}" min="0" max="{{ subtask.max_points }}"> / {{ subtask.max_points}}
        <label>Comment: </label>
        <input type="text">
        {% if subtask.bookmarked %}
            {# TODO add support for icon #}
            <div> <mark>Bookmark!</mark> </div>
        {% endif %}
        {% for snippet in subtask.code_snippets%}
            <div> {{snippet.class_name}} - {{snippet.name}}</div>
            {%  if snippet.found %}
                <div>
                    <pre><code>
                        {{snippet.code}}
                    </code></pre>
                </div>
            {%  endif %}
            {# assertion errors #}
            {% for case in subtask.testcases %}
                <div> {{ case.name }}</div>
                <div> {{ case.passed }}</div>
                <div> {{ case.assertion }} </div>
            {%  endfor %}
        {% endfor %}
    </div>
{%- endmacro %}