{% macro create_list(overview) -%}
    {{ create_list_header(overview) }}
    {% for file in overview.submissions %}
        {{ create_slide(file, loop.index0) }}
    {% endfor %}
{%- endmacro %}

{% macro create_list_header(file) -%}
  <div class="header-wrapper">
    <h1> {{ file.exam_name|replace("_", " ") }} </h1>
    <div> {{ file.num_passed }} / {{ file.submissions|length }} passed the test </div>
  </div>
{%- endmacro %}

{% macro create_slide(file, idx) -%}
  <div class="slide-wrapper">
    <a href="/correction/{{ idx }}">
      <button class="btn btn-primary" style="height: 100px; width: 1500px; margin-top: 1%">
        <div class="row">
          <div class="col-sm"> {{ file.submission_name|replace("_", " ")|title() }}</div>
          <div class="col-sm">
            {% if file.reached_min_points %}
              {# <mark>Bookmark!</mark> #}
              <img src="{{ url_for('static', filename='assets/icons/thumbs-up.svg') }}" alt="thumb-up">
            {% else %}
              <img src="{{ url_for('static', filename='assets/icons/thumbs-down.svg') }}" alt="thumb-up">
            {% endif %}
          </div>
          {% for f in file.exam_points %}
            <div class="col-sm"> {{ f.exam_name }}: {{ f.points }} / {{ f.max_points }} </div>
          {% endfor %}
          <div class="col-sm">
            {% if file.bookmarked %}
              {# <mark>Bookmark!</mark> #}
              <img src="{{ url_for("static", filename="assets/icons/bookmarked.svg") }}" alt="bookmarked">
            {% else %}
              <img src="{{ url_for("static", filename="assets/icons/bookmarked-not.svg") }}" alt="bookmarked">
            {% endif %}
          </div>
          <div class="col-sm"> {{ file.status.value }} </div>
        </div>
      </button>
    </a>
  </div>
{%- endmacro %}